body>header {
    background: #eee;
    padding: 0;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.0em;
}


body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

body {
    background: gray;
}

table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {

    background: #B8860B;
    color: white;
    font-family: sans-serif;
    text-size: 5px;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

.greeting {
    float: right;
    margin-top: 18px;
    color: gray;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
    color: #FFF;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

#site-nav {
    height: 60px;
    padding-top: 5px;

    padding-left: 5px;
    position: center;
    display: inline-block;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

#site-logo {
    background-color: #dd0000;
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
}

#exit {
    float: right;
}

.main-nav {

    display: inline-block;
    border-top: solid;
    color: 	#B8860B;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
}

.main-nav:hover {
    border: solid;
    border-top-color: orange;
    background-color: #ffffff;
    color: black;
}

.Home-blog {
    position: relative;
}

