/* MAIN TEMPLATE  */

.admin-nav>a{
    font-family: sans-serif;
    height: 30px;
    width: 220px;
    background-color: #555;
    text-align: center;
    font-size: 19px;
    border-bottom: solid 2px white;
}
.admin-nav>a:hover{

    background-color: orangered;
    color: white;
    text-align: center;
}

.main-nav {
    height: 50px;
}

#button-scroll-up {
    height: 250px;
    width: 250px;
    background: url("images/scroll-up.png");
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    position: relative;
}


#aside-nav>li{
    padding: 10px;
}
#aside-nav>li>a{
    Padding-left: 10px;
}



#site-logo {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
}


#footer {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background: #005c48;
    height:50px;
    position:relative;
    bottom:0;
    left:0;
    margin: 0px;
    padding: 20px;
}

/* Page header */

.page-header {
    position: relative;
    display: inline-block;
    border-bottom: solid #43a286;
    padding: 40px;
}

.page-header>h1{
    font-size: 4em;
    color: #005c48;
}

/* Hello, $user Message */
#greeting {
    text-align: right;
    background-color: #43a286;
    width: 100%;
    font-family: sans-serif;
}

#greeting>a {
    padding-left: 20px;
    margin-left: 10px;
    border-left: solid 1px yellow;
    color: white;
    margin-right: 10px;
}
/* BODY */

body{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

header{
    background-color: #00795f;
    width: 100%;
    padding: 40px 0;    
    color: white;
    text-align: center;

}
a{
    text-decoration: none;
    color: inherit;
    font-size: 4em;
    font-family: sans-serif;
    padding: 10px 0px;
    position: relative;
}

nav ul{
    background-color: #43a286;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
}
nav ul li{

    display: inline-block;
    padding: 20px;
}
nav ul li:hover{
    background-color: #399077;
    background-repeat: no-repeat;
}
header>h1{
    font-size: 80px;
}

h1{
    color: inherit;
    font-family: sans-serif;
    font-size: 40px;
    display: block;
    padding: 0px;
    margin: 0;
}

section{
    line-height: 1.5em;   /* makes text looks nice */
    font-size: 1.2em;
    width: 100%;

}
.handle{
    width: 100%;
    background: #005c48;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}


@media screen and (max-width: 1200px) {
    nav ul{
        max-height: 0px;
    }
    .showing{
        max-height: 40em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }

    .handle{
        display: block;
    }
}
/* INFO and ERROR messages WHEN APPEARED */
ul#messages li {
    font-size: 25px;
    font-family: "sans-serif";
    display: block;
    width: 40%;
    height: 32px;
    margin: 5px auto;
    text-align: center;
    padding: 7px;

}

ul#messages li.info {
    font-family: sans-serif;
    background: orange;
    color: white;
}

ul#messages li.error {
    font-family:sans-serif;
    background: #d00;
    color: white;
}

.validation-error {
   display: inline-block;
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-family:sans-serif;
    vertical-align: top;
    color: orange;
    padding: 20px;
}

#blog-posts {
    background-color: #00795f;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    height:100%;
}
#posts-header{
    padding: 15px;
    font-size: 2em;
    background-color: #43a286;
    width: 95%;
    height: 99%;
}


#posts-content {
    font-size: 1.5em;
    background-color: lightcoral;
    width: 94%;
    height:99%;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 20px;
}

.new-post-form {
     position: relative;
     padding-left: 25px;
     padding-bottom: 100px;

 }
.create-new-form {
    margin-top: 50px;
    text-align: center;
    display: block;
    position: relative;
    background-color: #00795f;
    width: 100%;
    height: 100%;
}

.cancel-button{
    padding: 60px;
    display: inline-block;
    text-decoration: none;
    font-family:sans-serif;
    color: black;
}
.cancel-button>a{
    text-decoration: none;
    color: black;
}
.cancel-button>a:hover{
    color: white;
}
.create-new-post-header {
    color: white;
    font-size: 60px;
    padding: 50px;
    font-family:sans-serif;
}

/* ALL BUTTONS HERE */

#option-button
{
    width: 72%;
    height: 100px;
    font-family: sans-serif;
    font-size: 60px;
    color: #777;
    padding-left: 10px;
    text-decoration: none;
}

#change-button {
    position: relative;
    float: right;
    margin: 0;
}
input[type=text]
{
    width: 70%;
    font-family: sans-serif;
    font-size: 70px;
    height: 100%;
    padding-left: 10px;
    text-decoration: none;
}

input[type=password]
{
    width: 70%;
    font-family: sans-serif;
    font-size: 70px;
    color: #777;
    height: 100%;
    padding-left: 10px;
    text-decoration: none;
}
input[type=number]
{
    color: #333;
    height: 100%;
    width: 70%;
    padding-left: 10px;
    text-decoration: none;
    font-size: 70px;
   }

textarea#post-description {
    width: 70%;
    font-family:sans-serif;
    font-size: 30px;
    height: 20em;
    color: #666;
    padding-left: 10px;
    text-decoration: none;
}
textarea#part-description {
    color: #979797;
    padding-left: 10px;
    text-decoration: none;
    border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
    border: 0;
}
input[type=submit]
{

    height: 100px;
    width: 60%;
    background-color: #005c48;
    margin-top: 50px;
    margin-right: 5px;
    font-family:sans-serif;
    font-size: 40px;
    color: white;

}
input[type=submit]:hover {
    background-color: #399077;
    color: white;

}

select{
    font-family: sans-serif;
    font-size: 70px;
    width: 70%;
    height: 100%;
}


/* TABLE td th DESIGN */


table {
    font-family:  sans-serif; /* Nicer font */
    font-size: 1em;
    border-collapse: collapse; border-spacing: 0;
    margin: 0;

}

td, th {
    border: 1px solid #CCC;
}
th {
    font-size: 1em;
    color: white;
    background-color: #005c48;
    font-weight: bold; /* Make sure they're bold */
}

td {
    font-family: sans-serif;
    background-color: #43a286;
    color: black; /* Lighten up font color */
    text-align: center; /* Center our text */
}

td a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #005c48;
}
td>a:hover {
    background-color: #399077;
    color: white;
}
td:hover {
    background-color: #005c48;
    color: black;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

}
/* CAR REMINDER APP PROGRESS BAR */
.progress-bar{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    position: relative;
    font-family: "sans-serif";
    font-size: 1em;
    height: 45em;
    width: 99%;
    background-color: #005c48;
}
#progress-bar-part-price{
    text-align: center;
    color: #43a286;
    font-family: sans-serif;
    font-size: 3em;
}

#progress-bar-logo{
    text-align: center;
    width: 35%;
    margin: auto;
}

#change-button {
    margin-top: 3em;
    text-align: center;
    width: 100%;
}
#change-button>a{
    color: #43a286;
}



#change-button>a:hover{
    background-color: #e87770;
    color: white;
}

.progress-bar-out{
    margin-top: 40px;
    height:80px;
    width:97%;
    border:solid 2px #43a286;
}
.progress-bar-in{
    height:78px;
    border:solid 1px #000;
    background: rgb(191,210,85); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(0,168,25,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(0,168,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(0,168,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#00a819',GradientType=0 ); /* IE6-9 */
}

#progress-bar-in-percents{
    font-size: 3em;
    font-family: sans-serif;
    padding-top: 0.4em;
    text-align: center;
    color: #111;
}

.progress-bar-in-override{
    height:78px;
    border:solid 1px #000;
    background: rgb(248,80,50); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}



#car-check-form{
    position: relative;
    margin: auto;
    text-align: center;
}
#car-check-form-input{
    display: inline-block;
    background-color: gray;
    width: 240px;
    height: 80px;
}

#car-check-form-header{
    color: #005c48;
    font-family:sans-serif;
    font-size: 3em;
}

#car-check-form-validation-error-message{
    margin-top: 20px;
    text-align: center;
    font-family:sans-serif;
    font-size: 35px;
    color: #dd0000;
    display: block;
    position: relative;
}

.progress-bar-header{

    text-align: center;
    position: relative;
    color: lightgray;
    font-size: 2em;
    font-family:sans-serif;
}
.progress-bar-content{
text-align: center;
    color: #ddbf46;
    padding: 0.5em;
    font-family:sans-serif;
    font-size: 2em;
}

#progress-bar-message-override{
    color: orange;
    font-family: sans-serif;
    font-size: 40px;
    font-style: italic;
    padding: 5%;
}


#progress-bar-message{
    color: #43a286;
    font-family: sans-serif;
    font-size: 1.5em;
}

#part-replacement-header {
    padding: 0.5em;
    color: #333;
    font-family: sans-serif;
    font-size: 3em;
}
#part-replacement-name{
    color: orange;
    font-family: sans-serif;
    font-size: 40px;
}